/*
 * TalentLMS Admin CSS
 **************************************************************/
#tl-edit-css {
	background: none repeat scroll 0 0 #F9F9F9;
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
	outline: 0 none;
	width: 97%;
}

#tl-sync-errors {
	background: none repeat scroll 0 0 #F9F9F9;
	border-color: #DFDFDF;
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
	outline: 0 none;
	padding: 10px;
	width: 97%;
}
